.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
}

.SequenceStep {
  width: 40px;
  height: 40px;
  bottom: 0px;
  
  margin: 10px;
}

.DrumPatternContainer {
  background-color: rgb(65, 77, 95);
 
  justify-content: center;
  display: flex;

  position: absolute;
  bottom: 0px;
}

.SeqColumn {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  
}

.App-link {
  color: #61dafb;
}
