.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
}

.SequenceStep {
  background-color: pink;
  width: 80px;
  height: 80px;
  bottom: 0px;
  margin: auto;
}

.DrumPatternContainer {
  background-color: black;
  width: 1280px;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;

  position: absolute;
  bottom: 0px;
}

.App-link {
  color: #61dafb;
}
